<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <style>
        .centrer {
            text-align: center;
        }
        .liens-bas {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #ffffff; /* Fond blanc, facultatif */
        padding: 10px; /* Espacement, facultatif */
        text-align: center; /* Centrer les liens, facultatif */
        }
    </style>
</head>
<body>
    <div class="centrer">
        <h1>Bienvenue sur notre site de l'association "Horizon sans Faim"</h1>
    </div>
    <div class="welcome-message" >
        <p><strong>Merci de visiter notre site ! Nous sommes ravis de vous accueillir et vous remercions pour votre intérêt en notre cause.</strong></p>
    </div>
    <p>Présentation de l'association et de la cause à financer.</p>
    <br>
    <p>Bienvenue dans notre communauté engagée contre la famine dans le monde !</p>
    <br>
    <div class="liens-bas">
    <a href="/donation">Faire une promesse de don</a>
    <br><br>
    <a href="/promesses_don">Voir les promesses de don</a>
    </div>

</body>
</html>
